<h1>Course Assignment</h1>
<form class="data-form">
<dl>
  <dt>Email:</dt>
  <dd><input type="text" name="email" value=""></dd>
</dl>
<dl>
  <dt>Password:</dt>
  <dd><input type="password" name="password" value=""></dd>
</dl>
<dl>
  <dd><input type="checkbox" name="instructor" value="Y"> login as instructor?</dd>
</dl>
<dl>
  <dd><input type="button" value="login"></dd>
</dl>
</form>

