<h1>Course Assignment</h1>
<%= form_tag("/home/login", :method => "get") do %>
<div class="data-form">
<dl>
  <dt>Email:</dt>
  <dd><input type="text" name="Email" value=""></dd>
</dl>
<dl>
  <dt>Password:</dt>
  <dd><input type="password" name="Password" value=""></dd>
</dl>
<dl>
  <dd><input type="checkbox" name="instructor" value="Y"> login as instructor?</dd>
</dl>
<dl>
  <dd><input type="submit" value="login"></dd>
</dl>
<dl>
  <dd><%= link_to "Student Sign up", student_signup_path, class: "btn btn-large btn-primary" %></dd>
<dl>
  <dd><%= link_to "Instructor Sign up", instructor_signup_path, class: "btn btn-large btn-primary" %></dd>
</dl>
</div>
<% end %>

